/* ========== ボタン色設定 ========== */
/*青色のボタン*/
.bgColorBlue {
    background:#87befd;
}
.bgColorBlue:hover{
    background: #668ad8;
}
/*黄色のボタン*/
.bgColorGold {
    background:gold;
}
.bgColorGold:hover {
    background:rgb(218, 185, 0);
}
/*緑色のボタン*/
.bgColorGreen {
    background:#5ab4bd;
}
.bgColorGreen:hover {
    background:#86c0c5;
}
/* ==================================================================== */
/* ========== 大会選択のCSS ========== */
/* ==================================================================== */
.showSelect {
    position: absolute;
    right: 30px;
    bottom: 10px;
    cursor: pointer;
    color: #FFF;
    width: 120px;
    height: 40px;
    font-size: 1em;
    border-radius: 10px;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}
@media (max-width: 533px) {
    .showSelect {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
}
/* ==================================================================== */
/* ========== ホーム画面のCSS ========== */
/* ==================================================================== */
.icons {
    cursor: pointer;
}
.select {
    display: flex;
}
.roundBtn{
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    width: 20vw;
    height: 20vw;
    line-height: 20vw;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
    font-size: 3em;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}
/* ========== 画面が小さいとき ========== */
@media screen and (max-width: 770px) {
    .roundBtn{
        margin: 5px 0;
        display: block;
        width: 200px;
        height: 200px;
        line-height: 200px;
    }
}
/* ==================================================================== */
/* ========== 名前入力画面のCSS ========== */
/* ==================================================================== */
/* ========== 決定ボタンのCSS ========== */
.showTable {
    cursor: pointer;
    color: #FFF;
    width: 65%;
    max-width: 300px;
    height: 80px;
    font-size: 3em;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}
/* ========== 個人入力のCSS ========== */
#player {
    margin: 10px 0px;
    border: solid 2px;
    font-size: 3em;
    text-align: center;
    width: 100%;
    max-width: 600px;
    height: 80px;
}
@media (max-width: 719px) {
    #player {
        font-size: 2em;
        width: 300px;
        height: 60px;
    }
}
/* ========== チーム入力のCSS ========== */
@media (max-width: 719px) {
    #teamName {
        margin: 2.5px;
        border: solid 2px;
        font-size: 1em;
        text-align: center;
        width: 180px;
        height: 35px;
    }
    .memberX {
        margin: 2.5px;
        border: solid 2px;
        font-size: 2em;
        text-align: center;
        width: 300px;
        height: 60px;
    }
    .showTable {
        width: 200px;
        height: 50px;
        font-size: 1.5em;
    }
}
@media (min-width: 720px) {
    #teamName {
        margin: 2.5px;
        border: solid 2px;
        font-size: 2em;
        text-align: center;
        width: 180px;
        height: 50px;
    }
    .memberX {
        margin: 2.5px;
        border: solid 2px;
        font-size: 3em;
        text-align: center;
        width: 40%;
        height: 80px;
    }
    .showTable {
        width: 300px;
        height: 60px;
        font-size: 2.5em;
    }
}
