.middlePosition {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    display: none;
}
.contentsCenter{
    text-align: center;
}
#form1Tables {
    display: none;
}
#form2Tables {
    display: none;
}
html {
  touch-action: manipulation;
}
