/*タブ切り替え全体のスタイル*/
#tabForm {
    position: relative;
    margin-top: 50px;
    padding-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 700px;
    height: 325px;
    margin: 0 auto;
}
@media (max-width: 700px) {
    #tabForm {
        position: relative;
        margin-top: 50px;
        padding-bottom: 40px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        width: 100%;
        margin: 0 auto;
    }
}

/*タブのスタイル*/
.tab_item {
    width: calc(100%/3);
    height: 50px;
    border-bottom: 3px solid #5ab4bd;
    background-color: #d9d9d9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
    -webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.tab_item:hover {
    cursor: pointer;
    opacity: 0.75;
}
/*タブのラジオボタンを全て消す*/
input[name="tab_item"] {
    display: none;
}
/*選択されているタブのスタイルを変える*/
#tabForm input:checked + .tab_item {
    background-color: #5ab4bd;
    color: #fff;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
}
.tab_content table {
    width: 100%;
    max-width: 438px;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    margin: 5px;
}

.tab_content .spanRight {
    float: right;
}

/*ここから調整の必要*/
.tab_content th {
    background-color: #d5d5d5;
    text-align: left;
}
.tab_content input {
    width: 2em;
    /*safari用*/
    -webkit-text-fill-color: #000;
    opacity: 1;
    /*その他*/
    color: #000;
    text-align: center;
    background-color: #fff;
    border: none;
}