/*ボーダー設定*/
/*配点テーブル*/
.trb-border-2px{
    border-top: solid 2px;
    border-left: solid 2px;
    border-bottom: solid 2px;
}
.trb-border-2px *{
    border-right: solid 2px;
}
/*個人スコアテーブル*/
.tr-border-2px{
    border-left: solid 2px;
    border-bottom: solid 2px;
}
.tr-border-2px *{
    border-top: solid 2px;
    border-right: solid 2px;
}
/*チームスコアテーブル*/
#tTable1 {
    border-left: solid 2px;
}
/*1行目*/
.first_row *{
    border-top: solid 2px;
    border-bottom: solid 2px;
}
.first_row :nth-child(n+1):nth-child(-n+2),
.first_row :nth-child(n+12):nth-child(-n+13){
    border-right: solid 2px;
}
.first_row :nth-child(n+3):nth-child(-n+11){
    border-right: solid 1px;
}
/*nth_first*/
.nth_first :first-child{
    border-right: solid 2px;
    border-bottom: solid 2px;
}
.nth_first :nth-child(2){
    border-right: solid 2px;
}
.nth_first :nth-child(n+2):nth-child(-n+13){
    border-bottom: solid 1px;
}
.nth_first :nth-child(n+3):nth-child(-n+11){
    border-right: solid 1px;
}
.nth_first :nth-child(n+12):nth-child(-n+13){
    border-right: solid 2px;
}
/*nth_others*/
.nth_others :first-child{
    border-right: solid 2px;
}
.nth_others :nth-child(n+1):nth-child(-n+12){
    border-bottom: solid 1px;
}
.nth_others :nth-child(n+2):nth-child(-n+10){
    border-right: solid 1px;
}
.nth_others :nth-child(n+11):nth-child(-n+12){
    border-right: solid 2px;
}
/*nth_last*/
.nth_last :first-child{
    border-right: solid 2px;
}
.nth_last :nth-child(n+1):nth-child(-n+12){
    border-bottom: solid 2px;
}
.nth_last :nth-child(n+2):nth-child(-n+10){
    border-right: solid 1px;
}
.nth_last :nth-child(n+11):nth-child(-n+12){
    border-right: solid 2px;
}
/*チーム合計*/
#tTable3 :first-child{
    border-left: solid 2px;
    border-right: solid 1px;
}
#tTable3 :last-child{
    border-right: solid 2px;
}
.ttnth_first *{
    border-top: solid 2px;
    border-bottom: solid 2px;
}
.ttnth_others *{
    border-bottom: solid 1px;
}
.ttnth_last *{
    border-bottom: solid 2px;
}
/*↑ボーダー設定↑*/

#form1Tables table, #form2Tables table {
    margin: 5px;
    border-spacing: 0px;
    -webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

#pTable1 ,#tTable1{
    width: 80%;
    /*min-width: 550px;*/
    max-width: 1000px;
}
#pTable1, #pTable3, #tTable1, #tTable3{
    float: left;
}

#form1Tables table th, #form2Tables table th {
    min-width: 40px;
    cursor: default;
    pointer-events: none;
}
#pTable1 td, #tTable1 td {
    cursor: pointer;
    text-align: right;
    background-color: #ffffff;
}

#pTable2 th, #tTable2 th, #pTable3 th, #tTable3 th{
    width: 80px;
}
#pTable2 tr td, #tTable2 tr td  {
    cursor: default;
    width: 80px;
    text-align: left;
}
#pTable2 tr .blue, #tTable2 tr .blue {
    background-color: #8EA9DB;
}
#pTable2 tr .yellow, #tTable2 tr .yellow{
    background-color: #FFFF00;
}
#pTable2 tr .orange, #tTable2 tr .orange{
    background-color: #FFC000;
}
#pTable2 tr .red, #tTable2 tr .red{
    background-color: #FF0000;
}

#pTable3 td, #tTable3 td {
    text-align: center;
    cursor: default;
}
